{% extends 'main.html' %}

{% block img %}
    {% load staticfiles %}
{% endblock %}

{% block logo %}
    <img src="http://www.iienet2.org/images/v1_02.png" alt="" width="50%">
{% endblock %}

{% block header %}
    <h2 style="color: darkslateblue" class="text-center">Historia
    <hr style="border-color: #A7B8C7">
     <h4 align="left" style="color: black " >El Instituto de Ingenieros Industriales (IIE por sus siglas en inglés) es la organización de Ingenieros Industriales más importante a nivel mundial que agrupa a profesionistas y estudiantes de esta disciplina con la finalidad de fomentar su desarrollo.
El Instituto esta comprometido a proveer información acerca de la profesión que se relevante para sus miembros, para aquellos que practican la profesión, y para el público en general.

El IIE se esfuerza por proveer servicios de alta calidad que le permitan a sus miembros participar en actividades educativas, de tal forma que se les facilite su desarrollo profesional.  Para ello, el IIE provee una diversidad de servicios y productos incluyendo libros, jornales, congresos, simposios, seminarios, y sesiones de trabajo.

Ingeniería Industrial se concierne con el diseño, mejora, e instalación de sistemas integrados por personas, material, información, equipo y energía.  Utiliza conceptos de las áreas de Matemáticas, Física, Ciencias Sociales, e Ingeniería para evaluar y predecir el comportamiento de tales sistemas.

Un año después de fundado, el IIE ya tenía 1,279 miembros incluyendo 938 estudiantes, 2 capítulos profesionales, y 10 capítulos universitarios.

La primera convención del IIE se efectuó en Junio de 1950, y a continuado anualmente desde entonces. En 1958, el número de miembros ya alcanzaba 6,500 miembros con 80 capítulos, y para 1960 ya eran 12,000 miembros.

El "Journal of Industrial Engineering" se convirtió en una publicación mensual en 1966, y 2 años mas tarde se dividió en el AIIE Transactions y Industrial Engineering.

In 1972 las oficinas centrales se movieron de Nueva York a Atlanta, Georgia donde radican actualmente.

Para 1981 el número de miembros alcanzo 40,000, y ya incluía un sin número de miembros internacionales.   Por lo cual se le cambia el nombre del AIIE a simplemente el IIE para reflejar la nueva semblanza de sus miembros.

Ese mismo año (1981), la revista Industrial Management inició publicación.

Una función Integral del IIE ha sido el otorgar reconocimiento a aquellos estudiantes que sobresalen en sus estudios, así como también otorgar reconocimientos a profesores, y profesionales de la industria.
En 1956, el IIE otorgó el primer Chapter Development Award (Premio a Desarrollo de Capítulos), seguido al año siguiente por el Graduate Students and Research Award (Premio a Alumnos de Postgrado e Investigación).
El prestigioso premio Frank and Lillian Gilbreth Award se estableció en 1962.   Las contribuciones hechas por Lillian Gilbreth fueron reconocidas por el Servicio Postal de EE.UU. (US Postal Service) a través de la emisión de una estampilla conmemorativa en 1984.
Actualmente el IIE otorga aproximadamente 25 premios y becas para reconocer a sus miembros, estudiantes, e instituciones que han hecho contribuciones significativas a la profesión.</h4>
{% endblock %}

{% block main %}

{% endblock main %}
