{% extends 'main.html' %}

{% block logo %}
IIE Website .:chapter liberty 728:.
{% endblock %}

{% block img %}
{% load staticfiles %}
background-image: url('{% static 'img/ingeniero.jpg' %}')
{% endblock %}

{% block header %}
<h1 style="font-size: 2.9em">Institute of Industrial Engineers UNILIBRE</h1>
<hr class="small">
<div class="row">
   <div class = "col-md-6 col-md-offset-3" align="center">
       <img src="{% static 'img/LOGOIIE.png' %}" alt="" width="40%">
        <img src="{% static 'img/loho.png' %}" alt="" width="30%" style="padding-left: 5%">
   </div>
</div>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <!-- Pager -->
    <ul class="pager">
      <li class="next">
        <a href="{% url 'about' %}">Ver mas &rarr;</a>
      </li>
    </ul>
  </div>
</div>

    {% endblock main%}
