
{% extends 'main.html' %}

{% block img %}
  {% load staticfiles %}
  background-image: url('{{ object.img}}')
{% endblock %}

{% block header %}
    <h1>{{ object.titulo }}</h1>
    <h2> Publicado por la seccional Unilibre: {{ object.get_autor_display }}</h2>
{% endblock %}

{% block main %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ object.contenido|safe }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
